<!--&lt;!&ndash;<div class="sidebar">&ndash;&gt;-->
<!--&lt;!&ndash;  <nav class="nav flex-column">&ndash;&gt;-->

<!--&lt;!&ndash;    <a class="nav-link" routerLink="/students">&ndash;&gt;-->
<!--&lt;!&ndash;      <span class="icon">&ndash;&gt;-->
<!--&lt;!&ndash;        <i class="bi bi-grid"></i>&ndash;&gt;-->
<!--&lt;!&ndash;      </span>&ndash;&gt;-->
<!--&lt;!&ndash;      <span class="description"> Students</span>&ndash;&gt;-->
<!--&lt;!&ndash;    </a>&ndash;&gt;-->


<!--&lt;!&ndash;    <a class="nav-link" routerLink="/registrations">&ndash;&gt;-->
<!--&lt;!&ndash;      <span class="icon">&ndash;&gt;-->
<!--&lt;!&ndash;        <i class="bi bi-grid"></i>&ndash;&gt;-->
<!--&lt;!&ndash;      </span>&ndash;&gt;-->
<!--&lt;!&ndash;      <span class="description"> Registration</span>&ndash;&gt;-->
<!--&lt;!&ndash;    </a>&ndash;&gt;-->

<!--&lt;!&ndash;    <a class="nav-link" routerLink="/classes">&ndash;&gt;-->
<!--&lt;!&ndash;      <span class="icon">&ndash;&gt;-->
<!--&lt;!&ndash;        <i class="bi bi-grid"></i>&ndash;&gt;-->
<!--&lt;!&ndash;      </span>&ndash;&gt;-->
<!--&lt;!&ndash;      <span class="description"> Classe</span>&ndash;&gt;-->
<!--&lt;!&ndash;    </a>&ndash;&gt;-->

<!--&lt;!&ndash;    <a class="nav-link" routerLink="/programs">&ndash;&gt;-->
<!--&lt;!&ndash;      <span class="icon">&ndash;&gt;-->
<!--&lt;!&ndash;        <i class="bi bi-grid"></i>&ndash;&gt;-->
<!--&lt;!&ndash;      </span>&ndash;&gt;-->
<!--&lt;!&ndash;      <span class="description"> Program</span>&ndash;&gt;-->
<!--&lt;!&ndash;    </a>&ndash;&gt;-->


<!--&lt;!&ndash;    &lt;!&ndash; Menu with dropdown -&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    <a class="nav-link" href="#" data-bs-toggle="collapse" data-bs-target="#submenu" aria-expanded="false" aria-controls="submenu">&ndash;&gt;-->
<!--&lt;!&ndash;      <span class="icon">&ndash;&gt;-->
<!--&lt;!&ndash;        <i class="bi bi-box-seam"></i>&ndash;&gt;-->
<!--&lt;!&ndash;      </span>&ndash;&gt;-->
<!--&lt;!&ndash;      <span class="description"> Settings&ndash;&gt;-->
<!--&lt;!&ndash;        <i class="bi bi-caret-down-fill"></i>&ndash;&gt;-->
<!--&lt;!&ndash;      </span>&ndash;&gt;-->
<!--&lt;!&ndash;    </a>&ndash;&gt;-->
<!--&lt;!&ndash;  </nav>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->


<!--&lt;!&ndash;&lt;!&ndash;<div class="logout-button">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;  <button class="btn btn-danger" (click)="logout()">Déconnexion</button>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</div>&ndash;&gt;&ndash;&gt;-->


<!--&lt;!&ndash;<main class="main-content">&ndash;&gt;-->
<!--&lt;!&ndash;  <router-outlet/>&ndash;&gt;-->
<!--&lt;!&ndash;</main>&ndash;&gt;-->


<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
<!--  <div class="container-fluid">-->
<!--    &lt;!&ndash; Logo ou nom de l'application &ndash;&gt;-->
<!--    <a class="navbar-brand" href="#">Mon Application</a>-->

<!--    &lt;!&ndash; Bouton pour le mode mobile &ndash;&gt;-->
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->

<!--    &lt;!&ndash; Liens de la navbar &ndash;&gt;-->
<!--    <div class="collapse navbar-collapse" id="navbarNav">-->
<!--      <ul class="navbar-nav me-auto">-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" routerLink="/students">-->
<!--            <i class="bi bi-people-fill"></i> Students-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" routerLink="/registrations">-->
<!--            <i class="bi bi-clipboard-check"></i> Registration-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" routerLink="/classes">-->
<!--            <i class="bi bi-house-door"></i> Classe-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" routerLink="/programs">-->
<!--            <i class="bi bi-journal-text"></i> Program-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--            <i class="bi bi-gear"></i> Settings-->
<!--          </a>-->
<!--          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--            <li><a class="dropdown-item" href="#">Option 1</a></li>-->
<!--            <li><a class="dropdown-item" href="#">Option 2</a></li>-->
<!--            <li><hr class="dropdown-divider"></li>-->
<!--            <li><a class="dropdown-item" href="#">Option 3</a></li>-->
<!--          </ul>-->
<!--        </li>-->
<!--      </ul>-->

<!--      &lt;!&ndash; Bouton de déconnexion &ndash;&gt;-->
<!--      <button class="btn btn-danger" (click)="logout()">-->
<!--        <i class="bi bi-box-arrow-right"></i> Déconnexion-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->

<!--<main class="main-content">-->
<!--  <router-outlet/>-->
<!--</main>-->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <!-- Logo ou nom de l'application -->
    <a class="navbar-brand fw-bold"  href="#">BAS_SCHOOL_221</a>

    <!-- Bouton pour le mode mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Liens de la navbar -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link fw-bold text-white" routerLink="/students">
            <i class="bi bi-people-fill"></i> Students
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold text-white" routerLink="/registrations">
            <i class="bi bi-clipboard-check"></i> Registration
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold text-white" routerLink="/classes">
            <i class="bi bi-house-door"></i> Classe
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold text-white" routerLink="/programs">
            <i class="bi bi-journal-text"></i> Program
          </a>
        </li>
<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link fw-bold text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
<!--            <i class="bi bi-gear"></i> Settings-->
<!--          </a>-->
<!--          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--            <li><a class="dropdown-item" href="#">Option 1</a></li>-->
<!--            <li><a class="dropdown-item" href="#">Option 2</a></li>-->
<!--            <li><hr class="dropdown-divider"></li>-->
<!--            <li><a class="dropdown-item" href="#">Option 3</a></li>-->
<!--          </ul>-->
<!--        </li>-->
      </ul>
    </div>
  </div>
</nav>

<main class="main-content mt-5">
  <router-outlet/>
</main>

