<div class="card shadow-lg w-50 mx-auto mt-4 rounded-3">
  <h5 class="mb-0 p-3 bg-black text-white fw-bold text-center d-inline-block rounded shadow-sm">
    Add Registration
  </h5>
  <div class="p-4">
    <div *ngIf="errorMsg.length" class="alert alert-danger mt-2" role="alert">
      <p class="m-0" *ngFor="let msg of errorMsg">{{ msg }}</p>
    </div>
    <hr>
    <form>
      <!--  Student et Classe -->
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="studentId" class="form-label">Student</label>
          <select [(ngModel)]="request.studentId" class="form-select" id="studentId" name="studentId">
            <option *ngFor="let student of studentResponse" [value]="student.id">
              {{ student.firstName }} {{ student.lastName }}
            </option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="classeId" class="form-label">Classe</label>
          <select [(ngModel)]="request.classeId" class="form-select" id="classeId" name="classeId">
            <option *ngFor="let classe of classeResponse" [value]="classe.id">
              {{ classe.name }}
            </option>
          </select>
        </div>
      </div>

      <!--  Program et Date -->
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="programId" class="form-label">Program</label>
          <select [(ngModel)]="request.programId" class="form-select" id="programId" name="programId">
            <option *ngFor="let program of programResponse" [value]="program.id">
              {{ program.name }}
            </option>
          </select>
        </div>
        <div class="col-md-6">
          <label for="date" class="form-label">Date Registration</label>
          <input [(ngModel)]="request.date" type="date" class="form-control" id="date" name="date">
        </div>
      </div>

      <!--  Académie Year -->
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="academieYearId" class="form-label">Academie Year</label>
          <select [(ngModel)]="request.academieYearId" class="form-select" id="academieYearId" name="academieYearId">
            <option *ngFor="let academie of academieResponse" [value]="academie.id">
              {{ academie.name }}
            </option>
          </select>
        </div>
      </div>

      <!-- Description -->
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea [(ngModel)]="request.description" class="form-control" name="description" id="description" rows="4" placeholder="Entrez votre texte"></textarea>
      </div>

      <!-- Boutons -->
      <div class="text-center mt-4 d-flex justify-content-center gap-3">
        <button (click)="saveRegistration()" type="submit" class="btn btn-success text-black fw-bold px-4 btn-lg">
          <i class="bi bi-check-circle"></i> Save
        </button>
        <a href="/registrations" class="btn btn-secondary fw-bold text-black px-4 btn-lg">
          <i class="bi bi-arrow-left-circle"></i> Back
        </a>
      </div>
    </form>
  </div>
</div>
