<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="card shadow-lg mx-auto w-75" style="margin-top: 2rem;">
    <div class="card-header d-flex justify-content-between align-items-center bg-dark text-white">
      <h5 class="mb-0">List Student</h5>
      <a routerLink="/add-student" class="btn btn-light fw-bold">
        <i class="bi bi-plus-lg"></i> Add Student
      </a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-hover text-center">
          <thead class="table-dark">
          <tr>
            <th>Matricule</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Email Pro</th>
            <th>Email Personnel</th>
            <th>Téléphone</th>
            <th>Adresse</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
            @for (student of studentResponse; track student.id) {
              <tr>
                <td>{{ student.registrationNu }}</td>
                <td>{{ student.firstName }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.emailPro }}</td>
                <td>{{ student.emailPerso }}</td>
                <td>{{ student.phoneNumber }}</td>
                <td>{{ student.address }}</td>
                <td class="d-flex gap-2 justify-content-center">
                  <button *ngIf="student.id" (click)="editStudent(student)" class="btn btn-warning btn-sm">
                    <i class="bi bi-pencil"></i>
                  </button>
                  <button *ngIf="student.id" (click)="deleteStudent(student.id)" class="btn btn-danger btn-sm">
                    <i class="bi bi-trash"></i>
                  </button>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer text-center text-white fw-bold bg-dark">Number Student: {{ studentResponse.length }}</div>
  </div>
</div>
